oauthlib==3.1.1
requests-oauthlib==1.3.0
tweepy==4.4.0
dotmap==1.3.25
coloredlogs
logging
pandas
matplotlib
numpy
requests
textblob==0.17.1
anyio==3.4.0 
fastapi==0.70.0 
pydantic==1.8.2 
sniffio==1.2.0 
starlette==0.16.0
torch==1.8.1 
torchvision==0.9.1
torchaudio==0.8.1
transformers
beautifulsoup4
pulsar-client
elasticsearch
asgiref==3.4.1
h11==0.12.0
uvicorn==0.16.0
fastavro==1.4.7
cffi==1.15.0
cryptography==36.0.1
jwt==1.3.1
pycparser==2.21
sqlalchemy==1.4.28
python-multipart==0.0.5
psycopg2-binary==2.9.2
