oauthlib==3.1.1
requests-oauthlib==1.3.0
tweepy==4.4.0
dotmap==1.3.25
coloredlogs
logging
pandas
matplotlib
numpy
requests
textblob==0.17.1
anyio==3.4.0 
fastapi==0.70.0 
pydantic==1.8.2 
sniffio==1.2.0 
starlette==0.16.0
torch==1.8.1 
torchvision==0.9.1
torchaudio==0.8.1
transformers
beautifulsoup4
pulsar-client
elasticsearch
